# ============================================================
# NURSIFY
# ============================================================

APP_NAME=Nursify
APP_VERSION=1.0.0
APP_ENV=development


# ============================================================
# POSTGRESQL
# ============================================================

DATABASE_URL=postgresql://postgres:TUCONTRASEÑA@localhost:5432/nursify


# ============================================================
# GEMINI
# ============================================================

GEMINI_API_KEY=


# ============================================================
# SEGURIDAD
# ============================================================

SECRET_KEY=cambiar_esta_clave_por_una_segura