# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
env/


# ============================================================
# VARIABLES DE ENTORNO
# ============================================================

.env


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# BUILD
# ============================================================

build/
dist/
*.spec


# ============================================================
# NURSIFY STORAGE
# ============================================================

storage/casos_clinicos/*
storage/reportes/*

!storage/casos_clinicos/.gitkeep
!storage/reportes/.gitkeep


# ============================================================
# BASE DE DATOS
# ============================================================

*.sqlite
*.sqlite3


# ============================================================
# SISTEMA OPERATIVO
# ============================================================

Thumbs.db
.DS_Store